@{
    ViewData["Title"] = "İmtahan Proqramı";
}

<div class="text-center mt-5">
    <h1 class="display-3 fw-bold">Xoş gəlmisiniz!</h1>
    <p class="lead mb-4">Orta məktəb şagirdlərinin imtahan nəticələrinin qeydiyyatı üçün hazırlanmış proqram.</p>
    <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" width="150" class="my-4 shadow rounded-circle" />

    <div>
        <a class="btn btn-lg btn-primary px-5 py-3 fw-bold" href="@Url.Action("Dashboard", "Home")">Proyektə Başla</a>
    </div>
</div>
